<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alphamail - Outbox</title>
        <link href="/assets/main.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="table-data">
<h2 style = "position:relative; left:20px;">Outbox</h2>
<hr/>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Recipient</th>
            <th>Time</th>
            <th>Subject</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.reverse()
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.rcpt %></td>
            <td><%=data._time %></td>
            <td><%=data.sbjt %></td>
            <td><a href="/viewout/<%=data.id%>">View</a></td>
            <td><a href="/deleteout/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>

<button style = "position:relative; left:20px; width:150px;" onclick="window.location.href='/homepage'">Go to homepage</button></br>