<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alphamail</title>
        <link href="/assets/main.css" rel="stylesheet" type="text/css">
</head>

    <body>
        <div class="table-data">
            <h2 style = "position:relative; left:20px;">Edit draft</h2>
            <hr/>
            <table border="1">
                <% if(userData.length!=0){
                    var i=1;
                    userData.forEach(function(data){%>
                <div>
                    <form name="msg" method ="POST">
                        <div>
                            <label style = "width: 1000px; position:relative; left:20px;">Recipient</label>
                            <input type="text" style = "width: 1000px; position:relative; left:20px; top:-15px;" maxlength="255" placeholder="To" value="<%=data.rcpt%>" name = "to" required>
                        </div>
                        <div>
                            <label style = "width: 1000px; position:relative; left:20px;">Subject</label>
                            <input type="text" style = "width: 1000px; position:relative; left:20px; top:-15px;" maxlength="255" placeholder="Subject" value="<%=data.sbjt%>" name = "subject">
                        </div>
                        <div>
                            <label style = "position:relative; left:20px;">Body</label>
                            <textarea style = "width: 1000px; position:relative; left:20px; top:-15px" name="body" rows="5" cols="5"><%=data.mail_body%></textarea></br>
                        
                        <input style = "width: 150px; position:relative; left:20px;" id="login" type="submit" value="Delete draft" onclick="return deletedraft()">
                        <input style = "width: 150px; position:relative; left:20px;" id="login" type="submit" value="Save draft" onclick="return savedraft()">
                        <input style = "width: 150px; position:relative; left:20px;" id="login" type="submit" value="Send" onclick="return sendmail()">
                    </form>
                </div>
                <script>
                    function sendmail() {
                    document.msg.method = "POST";
                    document.msg.action = "/senddraft/<%=data.id%>";
                    return
                    }
                    function savedraft() {
                    document.msg.method = "POST";
                    document.msg.action = "/savedraft_view/<%=data.id%>";
                    return;
                    }
                    function deletedraft() {
                    document.msg.method = "GET";
                    document.msg.action = "/deletedraft/<%=data.id%>";
                    return;
                    }
                    

                </script>
                <%  i++; }) %>
                <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
                <% } %>
            </table>
        </div>
    </body>
    </html>

<button style = "position:relative; left:20px; width:150px; top:-22px;" onclick="window.location.href='/drafts'">Cancel</button></br>
<button style = "position:relative; left:20px; width:150px; top:-12px" onclick="window.location.href='/homepage'">Go to homepage</button></br>